<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main>
        <div class="main-header_search">
            <form action="">
                <select name="" id="">
                    <option value="">Todos</option>
                    <option value="">Coleccionables</option>
                    <option value="">Artesanias</option>
                    <option value="">De interior</option>
                    <option value="">De jardin</option>
                    <option value="">Arte</option>
                </select>
                <input type="text" placeholder="Buscar...">
                <button type="submit"> <i class="fas fa-search"></i> </button>
            </form>
        </div>



        <section class="main_productscontainer">

          <% for (let i=0; i < productList.length; i++) { %>
             
            <article class="main_productoverview">
            <a  href="/product/detail/<%= productList[i].id %> ">
                
                <img src="/img/products/<%= productList[i].image %>" alt="Imagen de producto ejemplo">
                <h3><%= productList[i].name %></h3>
                <div class="main_productprice">
                    <h2><%= productList[i].price %></h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </a>    
            </article>
          <% } %> 
            
        </section>
    </main>

    <%- include('../partials/footer') %> 
</body>

</html>