<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %> 
  <main>
    <form class="product__upload-form form-container" action="/product/<%=product.id%>/edit?_method=PUT" method="POST">
      <h2 class="main-title-form">Carga tu producto!</h2>
      <div class="upload-form__input">
        <label for="name">Cambiar:        <%= product.name%>            ...por:</label>
        <input type="text" placeholder="Nombre del producto..." name="name" id="name">
      </div>
      <div class="upload-form__input">
        <label for="category">Cambiar:        <%= product.category%>            ...por:</label>
        <select name="category" id="category">
          <option value="colect">Coleccionables</option>
          <option value="handcraft">Artesanias</option>
          <option value="art">Arte</option>
      </select>
      </div>
      <div class="upload-form__input">
        <label for="size">Cambiar:        <%= product.size%>            ...por:</label>
        <select name="size" id="size">
          <option value="tiny">Mini</option>
          <option value="little">Pequeño</option>
          <option value="medium">Mediano</option>
          <option value="large">Grande</option>
          <option value="xlarge">Gigante</option>
      </select>
      </div>
      <div class="upload-form__input">
        <label for="price">Cambiar:        <%= product.price%>            ...por:</label>
        <input type="number" placeholder="Precio del producto..." name="price" id="price">
      </div>
      <div class="upload-form__input">
        <label for="image">Imágenes</label>
        <input type="file" name="image" id="image" accept="image/*" multiple>
      </div>
      <div class="upload-form__input">
        <label for="description">Cambiar:        <%= product.description%>            ...por:</label>
        <textarea placeholder="Descripción del producto..." name="description" id="description"></textarea>
      </div>
      <div >
        <input class="upload-form__button upload-form__input" type="submit" value="Editar producto">
      </div>



    </form>
  </main>

  <%- include('../partials/footer') %> 
</body>
</html>