<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %> 
  <main>
    <form class="product__upload-form form-container" action="/product/<%=product.id%>/edit?_method=PUT" method="POST">
      <h2 class="main-title-form">Modificar información del producto</h2>
      <div class="upload-form__input">
        <label for="name">Nombre</label>
        <input type="text" placeholder="Nombre del producto..." name="name" id="name" value="<%= product.name%>">
      </div>
      <div class="upload-form__input">
        <label for="category">Categoría</label>
        <select name="category" id="category">
          <option value="1" <%= product.category == 1? 'Selected': ''%> >Coleccionables</option>
          <option value="2" <%= product.category == 2? 'Selected': ''%> >Artesanias</option>
          <option value="3" <%= product.category == 3? 'Selected': ''%> >Arte</option>
      </select>
      </div>
      <div class="upload-form__input">
        <label for="size">Tamaño</label>
        <select name="size" id="size">
          <option value="1" <%= product.size == '1'? 'Selected': ''%> >Mini</option>
          <option value="2" <%= product.size == '2'? 'Selected': ''%> >Pequeño</option>
          <option value="3" <%= product.size == '3'? 'Selected': ''%> >Mediano</option>
          <option value="4" <%= product.size == '4'? 'Selected': ''%> >Grande</option>
          <option value="5" <%= product.size == '5'? 'Selected': ''%> >Gigante</option>
      </select>
      </div>
      <div class="upload-form__input">
        <label for="price">Precio</label>
        <input type="number" placeholder="Precio del producto..." name="price" id="price" value="<%= product.price%>">
      </div>
      <div class="upload-form__input">
        <label for="image">Imágenes</label>
        <input type="file" name="image" id="image" accept="image/*" multiple value="">
      </div>
      <div class="upload-form__input">
        <label for="description">Descripción</label>
        <textarea placeholder="Descripción del producto..." name="description" id="description"><%= product.description%></textarea>
      </div>
      <div >
        <input class="upload-form__button upload-form__input" type="submit" value="Editar producto">
      </div>



    </form>
  </main>

  <%- include('../partials/footer') %> 
</body>
</html>