<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  <main>
    <section class="product-detail">
      <h3 class="product-detail__name"><%= productList.name %></h3>
      <picture class="product-detail__img">
        <img src="/img/products/<%= productList.image %>" alt="Product image">
      </picture>
      <div class="product-detail__info">
        <div class="info__price">
          <p class="price__number"><%= productList.price %></p>
          <% if (productList.discount) { %>
          <p class="price__discount"><%= productList.discount%>% OFF</p>
          <% } %> 
        </div>
        <p class="info__text"><%= productList.description %></p>       
      </div>
      <div class="buying-option">
        <p class="buying-option__seller-name">Nombre de vendedor/a: <strong>Nombre de ejemplo</strong></p>
        <a href="/product/<%= productList.id %>/edit">Editar producto</a>
        <form action="/product/delete-product/<%= productList.id %>?_method=DELETE" method="POST">
          <button type="submit">Eliminar</button>
        </form>
          
        <button class="buying-option__button" >COMPRAR</button>
      </div>
    </section>
  </main>
  <%- include('../partials/footer') %>
  
</body>
</html>