<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main>
        <div class="form-container">
            <h2 class="main-title-form"><%= user.firstName %> </h2>
            <section class="form user-profile">
              
                <img src="/img/users/<%= user.imgUser%>" alt="imgen de usuario" class="user-profile-img">
                <ul>
                  <li class="user-info"><%= user.firstName %> <%= user.lastName %></li>
                  <li class="user-info">DNI: <%= user.DNI %></li>
                  <li class="user-info"><%= user.email %></li>
                  <li class="user-info">Ciudad: <%= user.city %></li>
                  <li class="user-info user-edit-button"><a href="/user/<%= user.id %> /edit-form">Editar informacion</a></li>
                </ul>
            </section>            
        </div>


    </main>
    <%- include('../partials/footer') %> 
</body>
</html>